#title{
    background-image:linear-gradient(pink,purple)
    color:#fff;
} 

h1{
    font-family:"Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding:3% 15%;
}
.navbar-brand{
    color:white;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size:2rem;
}
.nav-link{
    color:#fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size:1rem;
    
}
.nav-item{
    padding:0,18px;
}
.navbar{

    padding-bottom:4.5;
}
.download-button{
margin:5% 3% 5% 0%;
}
.title-image{
    width:60%;
    transform: rotate(25deg);
}
.h3{
    margin:50px;
    font-size:small;
}
.h4{
    text-align: center;
    
}
.h2{
    text-align: center;
}
.center {
    display: block;
    margin-left: 50px;
    margin-right: 60px;
    width: 50%;
  }
  .profile{
    height:100%;
    border-radius: 50%;
  }
  .container2{
    background-image: radial-gradient(pink,purple);

  }
  .gradient-background{
    background-image: linear-gradient(pink,purple);}
